<!DOCTYPE html>
<html>
<head>
  <title>SudoMode</title>
  <%= stylesheet_link_tag    "sudo_mode/application", :media => "all" %>
  <%= javascript_include_tag "sudo_mode/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
